.message__div {
  padding: 5px;
  text-align: left;
  margin: 10px;
  width: fit-content;
  height: auto;
  max-width: 90vw;
  background-color: lightgray;
  color: #111;
  border-radius: 4px 4px 4px 12px;
  box-shadow: 3px 3px 3px grey;
}

.message__div p {
  padding: 0;
  margin: 2px;
  word-wrap: break-word;
}

.message__self {
  border-radius: 4px 4px 12px 4px;
  margin-left: auto;
  background-color: #3474ed;
  color: #fff;
}
